<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/site.css" />
		@await Html.PartialAsync("HeadPartial")
	</head>
	<body>
		


		<div>
			@await Html.PartialAsync("NavbarPartial")
		</div>



		<div>
			@RenderBody()
		</div>
		<div>
			@await Html.PartialAsync("FooterPartial");
		</div>
		

	</body>
</html>