@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header >
       <style>
           .address {
    list-style-type:none;
    font-size: 21px;
    color: white;
    position: static;
    vertical-align: middle;
}
</style>
        <ul>

          <li class="head"><a class="headerMenu" asp-action="Index"><img src="/images/logo.jpg"/></a></li>    
            
          <li class="head"><a class="headerMenu" asp-action="Index">DAVE'S MEATSHOP </a></li>  
            
          <li class="head"><a class="headerMenu" asp-action="Index" >DAVE'S GARAGE </a></li>
            
          <li class="head"><a class="headerMenu" asp-controller="Home" asp-action="Pub" >DAVE'S PUB </a></li>
          
          <li class="head"><a class="address">Салмышская 2, вьезд со двора</a></li>

          

        </ul>
    </header>
    
</body>
</html>

