@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
   <header >
        <ul>

          <li class="head"><a asp-action="/"><img src="./images/logo.jpg"/></a></li>    
            
          <li class="head"><a asp-action="/">DAVE'S MEATSHOP </a></li>  
            
          <li class="head"><a asp-action="garage.cshtml" >DAVE'S GARAGE </a></li>
            
          <li class="head"><a asp-action="pub" >DAVE'S PUB </a></li>
          
          <li class="head"><a class="mainpagetext">Салмышская 2, вьезд со двора</a></li>

          

        </ul>
    </header>