@model davesPub.Models.mainPageItem;

<form method="post" asp-action="create" asp-controller="Home">
    <div >
        <label asp-for="imgLink" >ссылка на картинку</label>
        <input type="url" name="imgLink" />
    </div>
    <div >
        <label asp-for="title" >название</label>
        <input type="text" name="title" />
    </div>    
    <div >
        <input type="submit" value="Отправить"  />
    </div>
</form>