@{
    Layout = "_Layout";
}
@*<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/site.css">
</head>
<body>

    div class="product-inner">
    <div class="product-wrap">
      <img src="https://i.pinimg.com/564x/90/43/0e/90430e3787e23617a83c31ab9900ab43.jpg">
    </div>
    <div class="product-info">
      <h3 class="product-title"><a href="">Пиво светлое, hoegaarden</a></h3>
      <span class="price">₽ 1999</span>
    </div>
  </div>
    
</body>
</html>*@