@{
	Layout="_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/site.css" />    
</head>
<body>
    
    <form class="firstroll"></form>
        
    <form class="secondroll">
        <h1>ИСТОРИЯ ОСНОВАНИЯ</h1>
        <div id="DavePhoto">
            <img class="photo" src="/images/dave.jpg">
        </div>

        <div id="textInfo">
            <br />
            <a class="history">История бренда heineken началась в 1863 году в амстердаме, когда 22-летний выходец из состоятельной семьи торговцев джерард хейнекен решил попробовать свои силы в бизнесе и приобрести одну из крупнейших пивоварен страны de hooiberg («стог сена»), которая на тот момент работала уже почти 300 лет.

                во второй половине xix века амстердам был одной из ведущих мировых столиц и важнейшим центром северной европы. после падения наполеоновской франции серьезные войны обходили страну стороной, а экономика процветала благодаря торговле с колониями и промышленной революции. однако качество местного пива на тот момент отставало от бельгийского, немецкого и английского, и на первый взгляд приобретение пивоварни было не самым выгодным шагом. не особо жалуя местное пиво, голландцы предпочитали крепкий алкоголь, в основном джин.</a>
        </div>
    </form>
</body>
</html>
















